.text1
{
    margin-top: 5%;
    margin-left: 10%;
}

.text2
{
    margin-top: 1%;
    margin-left: 10%;
}

.text3{
    margin-top: 2%;
}


.in1
{
    margin-left: 8%;
}

.in2
{
    margin-left: 3%;
}

.button1
{
    margin-left: 0.88%;
}

.line-1
{
    height: 1px;
    background: black;
    margin-top: 10%;
}


.body1{
    max-width: 1000px;
    margin: 2rem  auto;
}

.image
{
    
    width: 200px;
    height: 220px;
}

.tet1{
    margin-top: 7%;
    margin-right: 7%;
}

.ids
{
    margin-left: 50px;
;
}
.date
{
    margin-top: 60%;
    margin-left: 60px;;
}

.due
{
    margin-right: 50px;
}

.desti
{
    margin-top: 20px;
    margin-left: 25px;
}
.l{
    margin-left: 5%;
    margin-top: 5%;
}

.billto
{
    margin-left: 25px;
}

.bill
{
    margin-left: 25px;
}

.billto2
{
    margin-left: 90px;
}

.bill2
{
    margin-left: 90px;
}

.table
{
    margin-top: 50%;
}

.last1
{
    margin-top: 10%;
    margin-right: 110px;
}

.left
{
    margin-right: 160px;
}

.div1
{
    margin-right: 40px;
}

.dnot
{
    margin-top: 5%;
}

.dnot1
{
    margin-top: 5ox;
}